/*This is the original navbar*/
/*#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
#navigation li {
	background: #000099;
	border-left: 1px solid #999;
	float: left;
	margin: 0;
	padding: 0;
}
#navigation a {
	color: #fff;
	font-weight: bold;
	padding: 5px 10px;
	text-decoration: none;
}
#navigation a:hover {
	color: #b3b3b3;
}
#navigation #currentpage a {
	background: #fff;
	color: #333;
}*/

/*This is a different navbar*/
/*#navigation {
	list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #000099;
    height:38px;
}

#navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    width: 100%;
}

#navigation li {
    margin: 0px;
    display:
}

#navigation li a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
    float: left
}

#navigation li a:hover {
    color: #FFFFFF;
    background-color: #35af3b;
}*/

/*this is the best and current version of navbar*/
ul, li{ list-style:none; margin:0; padding:0;}/*1.1*/
.main-menu ul{background-color: #000066;} /*1.2*/
.main-menu a{color:white; display:block; padding:5px; text-decoration:none; font-weight:bold;} /*1.2, 1.3*/
.main-menu a:hover{color: #b3b3b3;}/*1.2*/
.main-menu #currentpage a{background-color: #00b7e6; color: #333;}
.main-menu > ul{ display:table; width:100%;}  /*2.1, 2.2*/
.main-menu > ul > li{ display:table-cell; border-right:1px solid #d4d4d4; width:10%;}
.main-menu > ul > li:last-child{ border-right:none;}/*3.2*/
.main-menu > ul > li > a{ text-align:center;}/*2*/
.sp-width{ width:40%!important;}

/*--------------------------------------------------------------
* 1.1 - CLEARFIX
* --------------------------------------------------------------*/
.cf:before,
.cf:after {
	content:"";
	display:table;
}
.cf:after {
	clear:both;
}

/*--------------------------------------------------------------
* 1.2 - FORMATTING
* --------------------------------------------------------------*/
body {
	background: #343434 url(http://www.hd-wallpapersdownload.com/upload/bulk-upload/hd-wallpaper-of-nature-in.jpg);
	background-size: cover;
	color: #4c4c4c;
	font:300 1.1em/1.7em 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
}

body > p {
	bottom: 10px;
	color: #fff;
	font-size: 12px;
	left: 10px;
	position: absolute;
}
body > p a {
	color: #fff
}

/*--------------------------------------------------------------
* 2.0 - TWITTER WIDGET
* --------------------------------------------------------------*/
.twitter-widget {
	color: #4c4c4c;
	height: 249px;
	left:50%;
	margin: -125px 0 0 -223px;
	position: absolute;
	top:50%;
	width:446px;
	box-shadow: 1px 1px 16px rgba(0,0,0,.58);
	border-radius:2px;
}

/*--------------------------------------------------------------
* 2.1 - TWITTER WIDGET HEADER
* --------------------------------------------------------------*/
.header {
	background: url(http://cameronbaney.com/codepen/twitter-widget/bg-header.jpg) no-repeat;
	color: #fdfdfd;
	font: 12px/17px 'HelveticaNeue-UltraLight', Helvetica, Arial, sans-serif;
	padding: 18px 28px 20px;
	border-radius:2px 2px 0 0;
}
.avatar {
	border: 4px solid #29c6f5;
	border-top-width:3px;
	float: left;
	margin-right: 16px;
	position: relative;
	box-shadow: 0 1px 1px rgba(0,0,0,.6), 0 -1px 0 #9ce5fa;
	border-radius: 2px
}
.avatar::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,.4) inset;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4) inset;
}
.avatar img {
	display: block;
	box-shadow: 0 0 2px rgba(0,0,0,.5) inset
}
.header h2, .header p {
	float: left;
	width:288px;
}
.header h2 {
	font-size:26px;
	line-height: 32px;
	margin: 10px 0 8px
}

/*--------------------------------------------------------------
* 2.2 - TWITTER WIDGET STATS
* --------------------------------------------------------------*/
.stats {
	background: rgb(243,243,243);
	background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(236,236,237,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(236,236,237,1)));
	background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
	background: -o-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
	background: linear-gradient(to bottom, rgba(243,243,243,1) 0%,rgba(236,236,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ececed',GradientType=0 );
	border-top:1px solid #fff;
	border-bottom: 1px solid #d4d4d4;
}
.stat {
	color: #4c4c4c;
	float:left;
	font-size: 14px;
	line-height: 17px;
	padding: 15px 0 14px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	width:148px;
}
.stat:first-child{
	margin-left: 1px
}
.stat:hover {
	color: #747474
}
.stat strong {
	display: block;
	font-size: 25px;
	line-height: 25px
}

/*--------------------------------------------------------------
* 2.3 - TWITTER WIDGET MENU
* --------------------------------------------------------------*/
.menu {
	background: rgb(236,236,236);
	background: -moz-linear-gradient(top, rgba(236,236,236,1) 0%, rgba(233,233,233,1) 86%, rgba(232,232,232,1) 94%, rgba(228,228,228,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,236,236,1)), color-stop(86%,rgba(233,233,233,1)), color-stop(94%,rgba(232,232,232,1)), color-stop(100%,rgba(228,228,228,1)));
	background: -webkit-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
	background: -o-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
	background: -ms-linear-gradient(top, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
	background: linear-gradient(to bottom, rgba(236,236,236,1) 0%,rgba(233,233,233,1) 86%,rgba(232,232,232,1) 94%,rgba(228,228,228,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e4e4e4',GradientType=0 );
	border-top:1px solid #fff;
	border-radius:0 0 2px 2px;
	padding: 11px 0;
	text-align: center
}
.menu li {
	display:inline-block;
	margin: 0 34px
}
.menu a {
	background: url(http://cameronbaney.com/codepen/twitter-widget/icons.png) no-repeat;
	display:block;
	overflow: hidden;
	text-indent: -9999px
}
.menu .ico-compose {
	background-position:-1px -2px;
	width: 25px;
	height: 26px;
}
.menu .ico-mentions {
	background-position: -31px -1px;
	background: url(block.png);
    width: 27px;
	height: 28px;
}
.menu .ico-profile {
	background-position: -65px -1px;
	width: 24px;
	height: 27px;
}
.menu .ico-settings {
	background-position: -97px -2px;
	width: 26px;
	height: 27px;
}
.menu a:hover {
	opacity:.75
}
